input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #bff3e8 inset;
}

body {
    background: linear-gradient(#028090, #02c39a);
    height: 140vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 14%;
    padding-bottom: 3%;
}

form button {
    margin-top: 4%;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background: linear-gradient(#028090, #02c39a);
    color: white;
    font-family: 'Istok Web', sans-serif;
}

input {
    height: 4.5rem;
    background-color: #f0f3bd;
}

input:focus {
    background-color: #bff3e8 ;
}

.login-form {
    height: 74rem;
    margin-left: 35%;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
}

.login-form h2 {
    margin-left: 36%;
    background: -webkit-linear-gradient(#028090, #02c39a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-size: 40px;
    font-family: 'Neucha', cursive;
}

h1 {
    color: #f2f7a5;
    margin-left: 38%;
    margin-bottom: 2%;
    margin-top: 0;
    padding-top: 5%;
}

h1 span {
    font-family: 'Neucha', cursive;
    font-size: 70px; 
}

#booked {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
}

.fa { 
    position: absolute;
    margin-left: 17%;
}

#icon-name {
    position: absolute;
    margin-left: 17%;
    margin-top: 1%;
}

#icon-email {
    position: absolute;
    margin-left: 17%;
    margin-top: 5.5%;
}

#icon-image {
    position: absolute;
    margin-left: 17%;
    margin-top: 10%;
}

#icon-username {
    position: absolute;
    margin-left: 17%;
    margin-top: 18.5%;
}

#icon-password {
    position: absolute;
    margin-left: 17%;
    margin-top: 23%;
}


.service-opt {
    display: flex;
    flex-direction: row;
}

p {
    padding-right: 4%;
}

#yes, #no {
    margin-top: -4.2%;
}

article {
    padding-right: 2rem;
    margin-left: 1rem;
}

.disclaimer-div {
    width: 95%;
    text-align: center;
    padding-bottom: 6%;
}

#disclaimer {
    font-size: 12px;
    text-align: center;
    color: gray;
}
