
<div *ngIf= "theActualUser.username">
  <p>You are now logged in as:  {{loginUser.username}} </p>
</div>
  <button (click)= "logMeOut()">Log Out</button>
  <button (click)= "checkIfLoggedIn()">Check If Logged In</button>

<h2>Create An Account</h2>

<form (submit)="tryToSignUp()">

  <input type="text" [(ngModel)]= "signUpUser.name" name= "user" placeholder= "name">

  <input type="text" [(ngModel)]= "signUpUser.username" name= "user" placeholder= "username">

  <input type="password" [(ngModel)]="signUpUser.password" name="user" placeholder="password">

  <input type="text" [(ngModel)]="signUpUser.email" name="user" placeholder="Email">

<!-- dropdown menu -->
<div class= "service-dropdown">
  <select class="selectpicker">
    <option value= "true">Yes</option>
    <option value= "false">No</option>
  </select>
</div>

  <button>Complete Registration</button>





</form>
<hr>

<h2>Login Form</h2>

<form (submit)="tryToLogIn()">

<input type="text" [(ngModel)]= "loginUser.username" name= "user" placeholder= "username">

<input type="password" [(ngModel)]="loginUser.password" name="user" placeholder="password">



<button>Log In</button>



</form>

<div *ngIf= "theError">{{theError}}</div>