<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a>Home</a></li>
      <li><a>Booked Appointments</a></li>
      <li><a>Logout</a></li>
    </ul>
  </nav>
  <form (submit)= "newService()">
      <div class="add">
          
          <input name="name" [(ngModel)]="newServiceInfo.category" placeholder="category">
          <br>
    
          <input name="name" [(ngModel)]="newServiceInfo.description" placeholder="description">
          <br>
  
          <input name="name" [(ngModel)]="newServiceInfo.pricing" placeholder="hourly pricing">
          <br>
  
          <button>Create</button>
        </div>
  
  </form>
</body>
</html>
